.profile_container {
    -fx-background-color: #EEEEEE;
}

.profile_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2.0em;
    -fx-font-family: "Calibri Light";
}

.profile_container TextField {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.profile_container PasswordField {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.profile_container Button {
    -fx-background-color: linear-gradient(to right, #023020 , #09dc92);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.show_button {
    -fx-background-color: #023020;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 80;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.profile_container Button:hover {
    -fx-cursor: hand;
}

.Hbox {
    -fx-background-color: #ada8a8;

}

/* Changes for the "Profile" Header */
.profile_text_header {
    -fx-fill: #023020;
    -fx-font-size: 4.0em;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;

}

.profile_change_text {
    -fx-background-color: #ada8a8;
    -fx-pref-width: 200;
}


.error_lbl {
    -fx-text-fill: #04c70c;
}


/* Profil Logo Container Styles */
.profile_logo_container {
    -fx-background-color: #023020;
    -fx-alignment: center;
}

.profile_logo_container Text {
    -fx-font-size: 3.5em;
    -fx-fill: #FFFFFF;
    -fx-font-family: fantasy;
    -fx-font-weight: bold;
}

.profile_logo_container FontAwesomeIconView {
    -fx-fill: #B0C0BC0;

}

.profile_change_text {
    -fx-background-color: #ada8a8;
    -fx-pref-width: 200;
}